* {
  box-sizing: border-box;
  margin: 0;
}

nav {
  background-color: rgb(243, 143, 154);
}

.nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.nav-img img {
  width: 100px;
}

.nav-menu ul li {
  list-style: none;
}

.nav-menu ul {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}
